<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <servlet>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>com.tweetsmap.worker.WorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/processTweets</url-pattern>
  </servlet-mapping>
</web-app>
